.places {
  min-height: 3392px;
  cursor: pointer;
}
@media screen and (max-width: 530px) {
  .places {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .places {
    display: flex;
    flex-direction: column;
  }
}
