.place__text {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
@media screen and (max-width: 1024px) {
  .place__text {
    margin-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    margin-left: 20px;
  }
}


@media screen and (max-width: 320px) {
  .place__text {
    margin-left: 16px;
    margin-right: 16px;
  }
}
