.footer__links {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  margin-top: 92px;
  margin-bottom: 24px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
}
@media screen and (min-width:321px) and (max-width:720px){
  .footer__links{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 16px;
    margin-top: 40px;
  }
}
@media screen and (max-width:320px) {
  .footer__links{
    margin-top: 64px;
    margin-bottom: 0;
    margin-right: 118px;
    margin-left: 16px;
    display: flex;
    flex-direction: column-reverse;
    
  }
  
}
