.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.14;
  /* identical to box height, or 114% */
  margin-bottom: 24px;
  margin-top: 94px;
}

@media screen and (max-width:1024px) {
 .footer__copyright{
   margin-top: 85px;
 } 
  
}


@media screen  and (max-width: 720px) {
  .footer__copyright {
    margin-top: 16px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 1;
    
  }
}
