.header-container {
  max-width: 1232px;
  min-height: 52px;
  box-sizing: border-box;
  margin: 28px auto 0;
  padding: 0 24px;
}
@media screen and (max-width:1024px){
  .header{
    padding: 0 48px;
  }
}
@media screen and (max-width:768px) {
  .header{
    padding: 0 24px;
  }
  
}
@media screen and (max-width:320px){
  .header-container{
    max-width: 288px;
    margin: 16px auto 0;
  }
}

