.place__description {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

@media screen and (max-width: 530px) {
  .place__description {
    flex-direction: column;
  }
}

